#root {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.Page {
  display: flex;
  width: 100%;
  background-color: white;
  height: 100%;
  padding: 2rem;
  background: #ffffff;
  

}

.Full {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #242424;
  border-radius: 20px;
  box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.75);
}

.Menu {
  width: 8%;
  padding: 1rem 1rem 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  /*background-color: #e5e5f7;*/
  background: #ffffff;
  background: -webkit-radial-gradient(circle, #ffffff 0%, #f0f0f0 100%);
  background: radial-gradient(circle, #ffffff 0%, #f0f0f0 100%);
    

}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}

.Header-Menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

}

.Options-Menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #242424 !important;
  border-radius: 20px;
  padding: 1rem;
  background: #5e5e5e;
  background: -webkit-radial-gradient(circle, #5e5e5e 0%, #242424 100%);
  background: radial-gradient(circle, #5e5e5e 0%, #242424 100%);

}

.Content-Up {

  width: 100%;

  /*background-color: #e7e7e7;*/
  padding: 2rem;
  border-radius: 20px;
  color: white;

}

.Content-Down {

  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  padding: 0rem 2rem 2rem 2rem;
  overflow-y: scroll;
  

}

.Maps {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white
}

.Container-Maps {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 0;
}

#canvas_static {

  height: 100%;

}

#canvas {

  height: 100%;

}

#canvas_points {

  height: 100%;


}

.Search-Bar {
  width: 100%;
  display: flex;
  gap: 2rem;

}

.Input-Search {
  height: 50px;
  background-color: transparent !important;
  color: white !important;

}

.Input-Search::placeholder {

  color: #878788 !important;

}

.Input-Search-Componet {
  width: 400px;
}

.Text-Search {
  gap: 2rem;
}


.form-control:focus {
  border-color: white !important;
  box-shadow: 0 0 1rem 0.5rem rgba(255, 255, 255, 0.25) !important;
}


.Button-Primary {
  background-color: #242424 !important;
  border: #242424 !important;
}

.modal-dialog {
  max-width: 70% !important;
}

.Foto_Perfil {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid #242424;
}

.Colaboradores {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.form-control {
  border: 1px solid #ced4da !important;
  /* Establecer un borde sólido */
  border-radius: .25rem;
  /* Ajustar el radio de borde según sea necesario */
  padding: .375rem .75rem;
  /* Ajustar el relleno según sea necesario */
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
  /* Agregar una transición suave */

}

.form-control:focus {
  border-color: #ffffff !important;
  /* Cambiar el color del borde al enfocar */
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
  /* Agregar un resplandor al enfocar */

}


.Instances {
  display: flex;
  gap: 2rem;
  justify-content: center;
  background: white;
  height: 100%;
  border-radius: 20px;
  padding: 2rem;
  flex-wrap: wrap;
  overflow-y: scroll;
  background: #ffffff;
  background: -webkit-radial-gradient(circle, #ffffff 0%, #f0f0f0 100%);
  background: radial-gradient(circle, #ffffff 0%, #f0f0f0 100%);
  


}

::-webkit-scrollbar {
  display: none;
}

.Card-Instance {
  position: relative;
  perspective: 1000px;
  width: 600px;
  height: 500px;
  opacity: 1;
  margin: 1rem;
}


.Card-Instance .Font-Card {
  font-size: 15px;
}

.Card-Instance .Font-Card,
.Card-Instance .Back-Card {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  background: #242424;
  border-radius: 20px;
  padding: 1rem;
  transition: 0.6s;
  cursor: pointer;
  color: white;
  box-shadow: 12px 10px 20px 5px rgba(0, 0, 0, 0.75);
  

}

.Back-Card {
  transform: rotateY(180deg);


}

.Input-Card {
  position: absolute;
  scale: 0;
}

input:checked~.Card-Instance .Back-Card {
  transform: rotateY(0);
}

input:checked~.Card-Instance .Font-Card {
  transform: rotateY(-180deg);
}

.Perfil_Info {
  display: flex;
  align-items: center;
  padding-top: 1rem;


}

.Foto_Perfil_ {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  /* Espacio entre la imagen y el texto */
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid #242424;
}

.Texto_Perfil {
  max-width: calc(100%-60px);
  /* Resta el ancho de la imagen (50px) más un margen (10px) */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10%;
  line-height: 1.5;
  text-align: start;
}

.Linea_Invisible {
  margin-top: 30px;
  /* Espacio superior entre la línea y el contenido superior */
  margin-bottom: 0px;
  /* Espacio inferior entre la línea y el contenido inferior */
}

.accordion {
  --bs-accordion-color: #ffffff !important;
  --bs-accordion-bg: #fff0 !important;
  --bs-accordion-border-color: #dee2e600 !important;
  --bs-accordion-btn-color: #ffffff !important;
  --bs-accordion-btn-bg: #242424 !important;



}

.Button_Instance {
  background-color: white;
  color: black;
  border-color: white;
}

.modal-content{
  
}